/* CSS used here will be applied after bootstrap.css */

.profile-header {
	background: url(http://ami.duke.edu/uploads/media_items/richardpryor-sunsetstrip-01jpg.479.326.s.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    padding-top:110px;
	padding-bottom:20px;
	vertical-align: bottom;
}
.profile-header h2 , .profile-header a , .profile-header i {
	color:#fff !important;
	text-shadow: 1px 1px 1px #000;
}
.profile-header-content {
  display: table;

}
.profile-pic {
  float: none;
  display: table-cell;
}
.profile-pic img {
	width:120px;
}

.profile-about {
  float: none;
  display: table-cell;
  vertical-align: bottom;
  margin-bottom:20px;
}

.panel-default>.panel-heading {
    background-color: white;
}

.header-space {
    margin-top: 10px;
}

.header-toggle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-nav li {
    padding-right: 12px;
}

hr {
    margin:0;
}

/*.nav {
    display: none;
}*/

.show-desktop {
    display:none;
}

.photo-panel-desktop {
    display:inline-block;
}

.photo-panel-hr {
    margin-bottom:15px;
}

.see-all {
    float:right;
}

@media (min-width: 768px) {
.profile-pic {
	width:120px;
}	
}
@media (min-width: 992px) {
.profile-pic img {
	width:200px;
}
}

@media(min-width: 768px) {
    .mobile-profile-tabs {
        display:none;
    }
    .show-desktop {
        display:block;
    }

}

